<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Inline</title>
	<style type="text/css" media="screen">
	body {
		background: url(tree_bark.png);
	}
	
	.wrap {
		margin: 0 3%;
	}
	
	article {
		width: 220px;
		padding: 10px;
		margin: 10px;
		display: inline-block;
		background: #f3f3f3;
		opacity: .7;
	}
	
	footer {
		clear: both;
	}
	</style>
</head>
<body>
	<div class="wrap">
		<header>
			<h1>This is a header</h1>
		</header>
		<section>
			<article>
				<h2>Title</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam scelerisque mauris quis mollis ultrices. Nam eget lobortis eros, vitae dictum elit. Ut adipiscing justo leo, nec iaculis diam vehicula quis. Sed pellentesque convallis augue, malesuada lacinia magna pellentesque non.</p>
			</article>
			<article>
				<h2>Title</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam scelerisque mauris quis mollis ultrices. Nam eget lobortis eros, vitae dictum elit. Ut adipiscing justo leo, nec iaculis diam vehicula quis. Sed pellentesque convallis augue, malesuada lacinia magna pellentesque non.</p>
			</article>
			<article>
				<h2>Title</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam scelerisque mauris quis mollis ultrices. Nam eget lobortis eros, vitae dictum elit. Ut adipiscing justo leo, nec iaculis diam vehicula quis. Sed pellentesque convallis augue, malesuada lacinia magna pellentesque non.</p>
			</article>
			<article>
				<h2>Title</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam scelerisque mauris quis mollis ultrices. Nam eget lobortis eros, vitae dictum elit. Ut adipiscing justo leo, nec iaculis diam vehicula quis. Sed pellentesque convallis augue, malesuada lacinia magna pellentesque non.</p>
			</article>
			<article>
				<h2>Title</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam scelerisque mauris quis mollis ultrices. Nam eget lobortis eros, vitae dictum elit. Ut adipiscing justo leo, nec iaculis diam vehicula quis. Sed pellentesque convallis augue, malesuada lacinia magna pellentesque non.</p>
			</article>
			<article>
				<h2>Title</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam scelerisque mauris quis mollis ultrices. Nam eget lobortis eros, vitae dictum elit. Ut adipiscing justo leo, nec iaculis diam vehicula quis. Sed pellentesque convallis augue, malesuada lacinia magna pellentesque non.</p>
			</article>
		</section>
		<footer>
			<p>This is a footer</p>
		</footer>
	</div>	
</body>
</html>