body {
	font-family: "Helvetica", sans-serif;
	background-image: url(img/galaxy.jpg);
     background-size: cover;
     background-position: center;
	padding: 20px;
}

h1, h2 {
	padding: 20px;
	margin: 0;
}

p {
	padding: 15px;
}

.container {
	background: #fff;
	width: 650px;
	margin: 0 auto;